<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')%>
    </head>
    <body>
        <header>
            <%- include('../partials/header')%>
        </header>
        <button type="button" class="btn btn-md btn-info mt-4 ml-2">Category:<%= Title %></button>
        <div class="container">
            <div class="row justify-content-center">
                <%if(artic != null){ %>
                    <% for(var i=0;i < artic.articles.length;i++){ %>
                        <div class="card mt-2" style="width: 350px;">
                            <img class="card-img-top" src="<%= artic.articles[i].urlToImage %>" alt="">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4><%= artic.articles[i].title %></h4>
                                </div>
                                <div class="card-text">
                                    <p><%= artic.articles[i].description %>
                                    </p> 
                                </div>
                                <button id="readmore" type="button" class="btn btn-sm btn-primary">ReadMore
                                </button>
                                <div id='content' class="card-text">
                                    <p><%= artic.articles[i].content%></p>
                                    <button id="readless" type="button" class="btn btn-sm btn-primary">ReadLess
                                </div>
                            </div>
                            <div class="card-footer">
                                <span class="fa fa-heart mr-2"></span><%= artic.articles[i].source.name %>
                                <% var m = new Date(artic.articles[i].publishedAt).toLocaleString(undefined, {timeZone: 'Asia/Kolkata'}) %>
                                <span class="ml-4"><%= m%></span>
                            </div>
                        </div>
                    <%} %>    
                <%}else{ %>
                    <div class="alert alert-warning mt-4">
                        <strong>Warning!</strong>Something Went Wrong
                      </div>
                <%}%>          
            </div>
        </div>
        <button class="backtotop">Top</button>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>

</html>
